{% extends 'base.html' %}

{% if user.is_authenticated %}

    {% block title %}

        Home

    {% endblock %}

    {% block nav_selection %}

        <ul class="nav navbar-nav">
          <li class="active"><a href="/#">Home</a> </li>
          <li> <a href="#">First Examiner Exam Views</a> </li>
          <li> <a href="#">Second Examiner Exam Views</a> </li>
          <li> <a href="#">External Examiner Exam Views</a> </li>
        </ul>

    {% endblock %}


	{% block content %}

    <div class="jumbotron">
      <h1>Welcome!</h1>
      <p>Hi! Please refer to the following links to view the various types of exams.</p>
    </div>

    <div class="list-group">
      <a href="#" class="list-group-item active">View Options</a>
      <a href="/viewExamsFirst" class="list-group-item">View All First Examiner Associated Exams</a>
      <a href="/viewExamsSecond" class="list-group-item">View All Second Examiner Associated Exams</a>
      <a href="/viewExamsExternal" class="list-group-item">View All External Examiner Associated Exams</a>
    </div>

	{% endblock %}

{% endif %}