{% extends 'base.html' %}

{% block content %}

    <br>
    <br>

    {% if form.errors %}

    <div class="row row-centered alert alert-danger">

	    <p>Your username and password didn't match. Please try again.</p>

    </div>

    {% endif %}

	<div class="row row-centered">

	    <div class="col-lg-1 col-centered">

			<form method="POST">
			    {% csrf_token %}
			    <p>
			        <label>Username</label>
			        <input type="text" name="username">
			    </p>
			    <p>
			        <label>Password</label>
			        <input type="password" name="password">
			    </p>
			    <button type="submit">Login</button>
			</form>
		</div>
	</div>

{% endblock %}
