{% extends 'base.html' %}

{% if user.is_authenticated %}

    {% block title %}

        Exam Paper Detail

    {% endblock %}

    {% block nav_selection %}

        <ul class="nav navbar-nav">
          <li> <a href="/#">Home</a> </li>
          <li class="active"> <a href="#">First Examiner Exam Views</a> </li>
          <li> <a href="#">Second Examiner Exam Views</a> </li>
          <li> <a href="#">External Examiner Exam Views</a> </li>
        </ul>

    {% endblock %}


	{% block content %}

   <div class="page-header">
          <h1>Examination Details
          <br>
          <small>{{paperObj.course.courseName}} </small></h1>
   </div>

    <fieldset>

        <form class="form-horizontal">

            <dl class="dl-horizontal">

                <dt>Course Code</dt>
                <dd>{{paperObj.course.courseCode}}</dd>

                <dt>Faculty</dt>
                <dd>{{paperObj.course.faculty}}</dd>

                <dt>Year</dt>
                <dd>{{paperObj.year}}</dd>

                <dt>Semester</dt>
                <dd>{{paperObj.semester}}</dd>

                <dt>Status</dt>
                <dd>{{paperObj.status}}</dd>

                <dt>Notes</dt>
                <dd>{{paperObj.notes}}</dd>

            </dl>

        </form>

        <div class="container">
              <hr>
              <h4>Exam Paper</h4>
                <a href="{{paperObj.examPaperQuestion.url}}" download>
                  <button type="button" class="btn btn-default">Download Exam Paper</button>
                </a>
              <button type="button" class="btn btn-default">Upload Exam Paper</button>
              <br>
              <hr>
              <h4>Exam Report</h4>
              <button type="button" class="btn btn-primary">Download Exam Report</button>
              <button type="button" class="btn btn-primary">Upload Exam Report</button>
        </div>

    </fieldset>

	{% endblock %}

{% endif %}